<!-- <div class="canvas-positions-container">
  <div class="position-option">
    <mat-icon (click)="onOptionSelect(1)">format_line_spacing</mat-icon>
  </div>
  <div class="position-option">
    <mat-icon (click)="onOptionSelect(2)">burst_mode</mat-icon>
  </div>
  <div class="position-option">
    <mat-icon (click)="onOptionSelect(3)">picture_in_picture_alt</mat-icon>
  </div>
</div> -->

<div class="canvas-positions-container">
  <mat-icon class="icon" (click)="onOptionSelect(1)">format_line_spacing</mat-icon>
  <mat-icon class="icon" (click)="onOptionSelect(2)">burst_mode</mat-icon>
  <mat-icon class="icon" (click)="onOptionSelect(3)">picture_in_picture_alt</mat-icon>
</div>
