/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Inter";
  src: local("Inter"), url('./assets/fonts/Inter-Regular.ttf');
}

@font-face {
  font-family: "Inter-Bold";
  src: local("Inter"), url('./assets/fonts/Inter-ExtraBold.ttf');
}

body {
  margin: 0;
  font-family: "Inter";
}

html, body { height: 100%; }
body { margin: 0; }
